/bin
/logs/*
!/logs/.gitignore
/project/project
/project/target
/project/.sbtserver
/project/.sbtserver.lock
/target
.classpath
.g8/
.history
.project
.settings/
/migrationFolder
testdata/ControllerDocumentTests/documentsSaved

.idea