[Unit]
Description=LOLOPAY HD
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/srv/www/lolo/lolopay-1.0-SNAPSHOT
PIDFile=/srv/www/lolo/lolopay-1.0-SNAPSHOT/RUNNING_PID
SyslogIdentifier=LOLOPAY
ExecStartPre=/bin/chown -R voxfin:voxfin /srv/www/lolo
ExecStartPre=/bin/chmod -R 755 /srv/www/lolo
ExecStartPre=/srv/www/lolo/lolopay-1.0-SNAPSHOT/bin/init-main-data \
	-Dhttp.port=9001
ExecStart=/srv/www/lolo/lolopay-1.0-SNAPSHOT/bin/lolopay \
	-Dhttp.port=9001
Restart=always
RestartSec=10s
User=voxfin
Group=voxfin
SuccessExitStatus=143
EnvironmentFile=/srv/www/lolo/lolopay-1.0-SNAPSHOT/conf/test_vars.env

[Install]
WantedBy=multi-user.target
